.aboutWrapper {
  padding: 2rem;
  max-width: 100%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  background: #EDE3D9;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 38px;
  color: #9D7336;
}

.image_hous {
  width: 750px;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;

}

.div_about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.girl_h3 {
  font-size: 28px;
  margin-left: 290px;
}

.girl_p {
  font-size: 20px;
  margin-left: 320px;
  color: #9D7336;
}

.iframe {
  border-radius: 12px;
  margin-left: 60px;
}

.image_hous1 {
  width: 1750px;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;
}

.box1 {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.line1 {
  width: 3px;
  height: 200px;
  background: #ffff;
  margin-top: 20px;

}

.line1:hover {
  background: #000000;
  transition: 0.2s;
}

.girl_h2{
  font-size: 28px;
  margin-left: 250px;
}

.girl_p1{
  font-size: 20px;
  margin-left:250px;
  color: #9D7336;
}

.date{
  margin-left: 380px;
  font-size: 40px;
}
.title2{
  margin-left: 680px
}